@page
@using BaruchsTreks.Data
@using Microsoft.EntityFrameworkCore;
@using System.Collections.Generic;

@inject AppDbContext dbContext

@{
    ViewData["Title"] = "Přehled";
    var trips = dbContext.Trips;
    var tripsCount = trips.Count();
    var latestTrips = trips.OrderByDescending(o => o.Modified).Take(5).ToList();
}

<div class="container">
    <header class="text-center">
        <h1 class="display-4">Všechno nejlepší k narozeninám Baruško!</h1>
        <h2>Tady si můžeš připravovat svoje treky, kde jsi byla a budeš.</h2>
    </header>

    <section>
         <div class="trip-container">
        <ul class="trip-list">
            @foreach (var trip in latestTrips)
            {
                <li>
                    <div class="trip-box">
                        <div class="trip-info">
                            <div class="trip-title-container">
                                <h3 class="trip-title">@trip.Title</h3>
                                <button class="edit-button" onclick="location.href='@Url.Page("CreateTrip", new { tripId = trip.id })'">Edit</button>
                            </div>                            
                            <span class="trip-date">Modified: (@trip.Modified)</span>
                            <p class="trip-length">Lenth: @trip.LengthHours hours</p>
                            <div class="trip-description-scroll">
                                <p class="trip-description" style="white-space: pre-wrap;">@trip.Description</p>
,                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    </section>
</div>
